[submodule "test/web-platform-tests/tests"]
	path = web-platform-tests
	url = https://github.com/web-platform-tests/wpt.git
[submodule "web-platform-tests"]
	path = web-platform-tests
	url = https://github.com/web-platform-tests/wpt.git
